@use "./styles/index" as *;

h1,
h2,
li,
ul {
  all: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 24px 24px;
  font-family: "Red Hat Text", sans-serif;
  background-color: $color-background;
  color: $color-text-primary;
  font-size: 16px;

  h1 {
    font-size: 24px;
    font-weight: 600;
    color: $color-text-secondary;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    color: $color-text-secondary;
  }

  @media (min-width: $tablet) {
  }

  @media (min-width: $desktop) {
  }
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

a {
  color: $color-text-primary;
}

select {
  width: 100px;
  font-size: 16px;
}

section {
  width: 100%;
}
