$color-primary: #001219;
$color-secondary: #0096ff;
$color-accent: #ffa500;

// Background
$color-background: #1a191f;

// Border
$border-primary: #cccccc;
$border-secondary: #32323a;

// Text
$color-text-primary: #ffffff;
$color-text-secondary: #ffa500;
$color-text-accent: #0096ff;

//Buttons
$color-button-secondary: #ffa500;
$color-button-secondary-hover: #ff6600;

// Accents
$color-success: #0096ff;
